<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.29/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/dashboard/">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/public/css/main.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.29/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.29/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Reports</a></li>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#">Export</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">Nav item</a></li>
                    <li><a href="">Nav item again</a></li>
                    <li><a href="">One more nav</a></li>
                    <li><a href="">Another nav item</a></li>
                    <li><a href="">More navigation</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">Nav item again</a></li>
                    <li><a href="">One more nav</a></li>
                    <li><a href="">Another nav item</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">鹿先森美食城</h1>

                <div class="row placeholders">
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2F07imgmini.eastday.com%2Fmobile%2F20200512%2F20200512100600_9a1db19e391f1d905015b47682a994db_2.jpeg&refer=http%3A%2F%2F07imgmini.eastday.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1643793392&t=2adfd8cd60e6c8ba9de496f8f9d59373" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                        <h4>青椒肉丝</h4>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <img src="https://img1.baidu.com/it/u=387023633,3947929452&fm=26&fmt=auto" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                        <h4>肉沫茄子</h4>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <img src="https://img2.baidu.com/it/u=1219267892,3503533661&fm=253&fmt=auto&app=120&f=JPEG?w=497&h=372" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                        <h4>小炒肉</h4>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <img src="https://img2.baidu.com/it/u=240174893,1750453747&fm=26&fmt=auto" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                        <h4>回锅肉</h4>
                    </div>
                </div>

                <h2 class="sub-header">美食系列</h2>
                <a class="btn btn-success" href="/menus/new">添加菜谱</a>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>菜系序号</th>
                                <th>精品炒菜</th>
                                <th>菜品分量</th>
                                <th>是否加辣</th>
                                <th>我的身价</th>
                                <th>相关操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{each menus}}
                            <tr>
                                <td>{{$index+1}}</td>
                                <td>{{$value.name}}</td>
                                <td>{{$value.weight}}</td>
                                <td>{{$value.isHot}}</td>
                                <td>￥{{$value.price}}</td>
                                <td>
                                    <button class="btn btn-success"><a href="/menus/edit?id={{$value.id}}" style="color: aliceblue;text-decoration: none;">编辑</a></button>
                                    <button class="btn btn-danger"><a href="/menus/delete?id={{$value.id}}" style="color: aliceblue;text-decoration: none;">删除</a></button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.29/assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.29/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.29/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.29/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>